@using YourClassroom.Models
@model LoginViewModel
@{
    ViewBag.Title = "LOGIN";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Entre com sua conta ou cadastre-se agora.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group estilo-form">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label estilo-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control estilo-input" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group estilo-form">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label estilo-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control estilo-input" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group estilo-form">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="lembrar-login">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            <span>Manter Conectado</span>
                        </div>
                    </div>
                </div>
                <div class="form-group estilo-form">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Login" class="botao-login" />
                    </div>
                </div>
                <div class="botao-registrar">
                    <input class="botao-voltar" type="button" onclick="location.href='@Url.Action("Register")'" value="Cadastre-se" />
                </div>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}