@model YourClassroom.Models.ClasseProfessorViewModel
@{
    ViewBag.Title = "Minhas Classes";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Classes/Index.css">
</head>
<h2>@ViewBag.Title</h2>

<div class="notificacao-aplicacao" id="notificacao-aplicacao">
    <h5 class="notificacao-mensagem" id="notificacao-mensagem">@Html.Raw(ViewBag.Mensagem)</h5>
</div>
<br />

<table class="table tabela-geral">
    <tr class="headers-classes">
        <th class="headers-classes-codigo" scope="col">Código</th>
        <th class="headers-classes-materia" scope="col">Matéria</th>
        <th class="headers-classes-curso" scope="col">Curso</th>
        <th class="headers-classes-periodo" scope="col">Período</th>
        @if (User.IsInRole("Aluno"))
        {
            <th class="headers-classes-professor" scope="col">Professor</th>
        }
        else if (User.IsInRole("Professor"))
        {
            <th class="headers-classes-acoes" scope="col">Ações</th>
        }
    </tr>
    @for (int i = 0; i < Model.Classes.Count(); i++)
    {
        <tr class="info-classes">
            <th scope="row">@Model.Classes[i].Id</th>
            <td class="info-classes-materia">@Model.Classes[i].Materia</td>
            <td class="info-classes-curso">@Model.Classes[i].Curso.Nome</td>
            <td class="info-classes-periodo">@Model.Classes[i].Periodo</td>
            @if (ViewBag.UserRole == "Aluno")
            {
                <td class="info-classes-professor">@Model.Professores[i].FirstName  @Model.Professores[i].LastName</td>
            }
            @if (ViewBag.UserRole == "Professor")
            {
                <td class="info-classes-editar">
                    @Html.ActionLink("Editar", "Edit", new { id = Model.Classes[i].Id }) - 
                    @Html.ActionLink("Detalhes", "Detalhes", new { id = Model.Classes[i].Id })
                </td>
            }
        </tr>
    }
</table>

<br />
<div class="aviso-classes">
    @if (ViewBag.UserRole == "Professor")
    {
        <p>Lembre-se, para convidar alunos para suas classes, você deve compartilhar o código da classe com eles!</p>
    }
    else if (ViewBag.UserRole == "Aluno")
    {
        <p>Para entrar em classes de professores específicos, você precisa obter o código da classe e solicitar sua entrada!</p>
    }
</div>

<div class="lista-botoes">
    <div class="return-button">
        <input class="botao-voltar" type="button" onclick="location.href='@Url.Action("Index", "Home")'" value="Voltar para a Home" />
    </div>
    @if (ViewBag.UserRole == "Professor")
    {
        <div class="criar-classe">
            <input class="botao-basico" type="button" onclick="location.href='@Url.Action("Create")'" value="Criar nova classe" />
        </div>
    }
</div>