@model IList<YourClassroom.Models.Classes>
@{
    ViewBag.Title = "Search";
}

<h2>Pesquisa de Classes</h2>
<br />

<table class="table tabela-geral">
    <tr class="headers-classes">
        <th scope="col">Código</th>
        <th scope="col">Matéria</th>
        <th scope="col">Curso</th>
        <th scope="col">Período</th>
        <th scope="col">Professor</th>
        <th scope="col">Ações</th>
    </tr>
    @if (Model != null)
    {

        foreach (var classe in Model)
        {
            <tr class="info-classes">
                <th scope="row">@classe.Id</th>
                <td>@classe.Materia</td>
                <td>@classe.Curso.Nome</td>
                <td>@classe.Periodo</td>
                <td>@classe.AspNetUsers.FirstName @classe.AspNetUsers.LastName</td>
                <td>@Html.ActionLink("Solicitar Entrada", "SolicitarEntrada", new { classeId = classe.Id }, new { @id = "solicitar-entrada" })</td>
            </tr>
        }
    }
</table>

<div class="return-button">
    <input class="botao-voltar" type="button" onclick="location.href='@Url.Action("Index", "Home")'" value="Voltar para a Home" />
</div>